$offWhite: #F5F5F5;
$darkGray: #333;

$blackText: #4A4A4A;
$whiteText: #EBEBEB;

$headerHeight: 120px;
$bodyWidth: 646px;

html {
  cursor: url('https://cl.ly/0Q0A0K1W1U0A') 32 32, default;
  height: 100vh;
  overflow: hidden;

  * {
    box-sizing: border-box;
    cursor: url('https://cl.ly/0Q0A0K1W1U0A') 32 32, default;
  }
}

body {
  box-shadow: 0 0 30px 3px rgba(50, 50, 50, 0.45);
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
  width: $bodyWidth;
}

main {
  position: relative;

  &.details {
    #main--header {
      background: $darkGray;
      box-shadow: none;
      color: $whiteText;
      margin-bottom: 0;

      .close {
        opacity: 1;
        visibility: visible;
      }
    }

    #gallery {
      height: calc(100vh - #{$headerHeight} - 96px);
    }

    #modal {
      opacity: 1;
      visibility: visible;
    }
  }
}

#main--header {
  background: $offWhite;
  box-shadow: inset 0 0 0 2px #E3E3E3;
  color: $blackText;
  height: $headerHeight;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 2;

  h1 {
    display: inline-block;
    font-family: "Helvetica Neue", helvetica, sans-serif;
    font-size: 40px;
    line-height: $headerHeight;
    max-width: 66%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .close {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 53px;
    top: calc(50% - 14px);
    visibility: hidden;
  }
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.4s ease;
}

.image--wrapper {
  display: block;
  height: calc(100vh / 4 - (#{$headerHeight} / 4));
  margin: 0 0 13px 13px;
  min-height: 206px;
  min-width: 282px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
  width: calc(100% / 2 - 19.5px);

  img {
    height: auto;
    min-height: 100%;
    width: 100%;
  }
}

#modal {
  background: none;
  height: 100%;
  height: calc(100vh - #{$headerHeight} - 96px);
  left: 0;
  margin: 0;
  max-width: $bodyWidth;
  opacity: 0;
  position: absolute;
  top: $headerHeight;
  transform-origin: center top;
  transform: translateY(-300px);
  transition: all 0.4s ease;
  visibility: hidden;
  width: 100%;
  z-index: -1;

  .swiper-slide {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &.visible {
    background: #000;
    transform: translateY(0);
    transition-delay: 0.2s;
    z-index: 1;
  }
}

#main--footer {
  background: $darkGray;
  display: flex;
  justify-content: space-between;
  padding: 28px 41px;
  transform-origin: center bottom;
  transition: all 0.4s ease;

  svg {
    cursor: pointer;
    height: 40px;

    path {
      transition: all 0.4s ease;
    }

    &.icon--plus-one:hover path {
      fill: #E06B92;
    }
    &.icon--comment:hover path {
      fill: #8FADCF;
    }
    &.icon--plus:hover path {
      fill: #72C66E;
    }
    &.icon--share:hover path {
      fill: #978ABF;
    }
  }
}

.hidden {
  transform: scaleY(0);
}